@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --primery-color: #0676da;
  --secondary-color: #3aa8de;
  --background-color: #65a4e6;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  /* background-color: var(--background-color); */
  background-color: #65a4e6;
}

nav {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem 8.6rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.logo {
  padding: 1rem 0;
}

.logo a img {
  height: 5.4rem;
  margin-left: -2.4rem;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 1.8rem;
}

nav ul li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
}

/****************/
/* Hero section */
/****************/

.hero-section {
  display: flex;
  align-items: center;
  margin: 3.6rem 8.6rem;
  height: 64rem;
}

.hero-content-container {
  width: 50%;
  height: 100%;
}

.hero-section p {
  font-size: 4.8rem;
}

.hero-img-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-content,
.hero-section-img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-section-img img {
  height: 56rem;
  max-width: 100%;
}

.hero-section-img .cloud {
  position: absolute;
  left: 25%;
  top: 9.5%;
  height: 59%;
  width: 50.5%;
}

/* Service section */
.service-section {
  width: 100%;
  padding: 0 8.6rem 3.6rem;
  background-color: var(--background-color);
}

.service-section .service-section-heading {
  font-size: 4.8rem;
  text-align: center;
  color: #eff4fc;
}

.service-subsection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 6.4rem;
  grid-column-gap: 4.8rem;
}

.subsection-content h2 {
  font-size: 8.6rem;
  color: #bfd3f4;
  margin: 0 3.2rem 1.2rem;
  width: 11rem;
  border-radius: 1.6rem;
  border-bottom: 16px solid var(--primery-color);
}
.subsection-content h3 {
  font-size: 4.8rem;
  color: #dfe9f9;
  margin: 0 3.2rem 1.2rem;
  text-transform: uppercase;
}
.subsection-content p {
  font-size: 2.2rem;
  color: #fff;
  margin: 0 3.2rem 1.2rem;
}

.subsection-image {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.subsection-image img {
  height: 42rem;
  width: 56rem;
  opacity: 90%;
}

/*****************/
/* About section */
/*****************/

.about {
  padding: 0 8.6rem;
  margin-top: 3.6rem;
}

.about h2 {
  font-size: 6.4rem;
  color: #dfe9f9;
  text-align: center;
  text-transform: uppercase;
}

.about-subcontainer {
  display: flex;
  width: 100%;
  margin: 3.6rem 0;
}

.about-subcontainer-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 50%;
  height: 100%;
}

.about-subcontainer-image img {
  height: 48rem;
  width: 90%;
  opacity: 90%;
}

.about-subcontainer-content {
  flex: 50%;
  padding: 2.4rem;
}

.about-subcontainer-content h3 {
  font-size: 4.8rem;
  color: #eff4fc;
  text-transform: uppercase;
  margin: 2.4rem 0;
}
.about-subcontainer-content p {
  font-size: 2.4rem;
  margin: 2.4rem 0;
}

/**************/
/* Our Client */
/**************/

.client {
  padding: 0 8.6rem;
  margin-top: 11.2rem;
}

.client h2 {
  font-size: 6.4rem;
  color: #dfe9f9;
  text-align: center;
  text-transform: uppercase;
}

.client-subsection-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 3.6rem;
  grid-column-gap: 3.6rem;
}

.relative {
  position: relative;
  grid-column: span 2;
}

.relative:last-child:nth-child(n - 1) {
  grid-column-end: -2;
}

.relative:nth-last-child(2):nth-child(n + 1) {
  grid-column-end: 4;
}

.relative img {
  display: block;
  width: 100%;
  height: 48rem;
  cursor: pointer;
}

.client-subsection-content {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-subsection-content p {
  font-size: 2.4rem;
  color: #fff;
}

.client-subsection-content p strong {
  font-size: 4.8rem;
}

.client-subsection-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 40%;
}

.background-hover-effect {
  visibility: hidden;
  z-index: -1;
  padding: 3.6rem;
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border: 4px solid #333;
  transition: all 0.3s ease;
}

.background-hover-effect img {
  height: 8.4rem !important;
  width: 22rem !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}

.background-hover-effect p {
  font-size: 1.4rem !important;
  margin: 1.6rem 1rem !important;
  line-height: 1.8;
}

.relative:hover .background-hover-effect {
  transform: scale(1.25);
  z-index: 1;
  visibility: visible;
}

/* individual background color */

.rds {
  background-color: #777;
}

.vita-coco {
  background-color: #01964a;
}

.us-gov-agency {
  background-color: #004890;
}

.cloudx {
  background-color: #000;
  border-color: #fff;
}

.allied {
  background-color: #0071b9;
}

.david {
  background-color: #000;
  border-color: #fff;
}

.healthyfirst {
  background-color: #377e38;
}

.moka {
  background-color: #7f6518;
}

/* ******************** */
/* Contacts */
/* ******************** */

.contacts {
  padding: 0 8.6rem;
  margin-top: 11.2rem;
}

.contacts h2 {
  font-size: 6.4rem;
  text-align: center;
  margin: 2.4rem 0;
}

.contacts a {
  display: block;
  text-decoration: underline;
  font-size: 4.8rem;
  text-align: center;
  color: #fff;
  margin: 0;
}

.form {
  margin: 9.8rem 36rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid #fff;
  border-radius: 15px;
  box-shadow: 0 0 0 3rem rgba(0, 0, 0, 0.1);
}

.form input,
.form textarea,
.form button {
  font-family: inherit;
  font-size: 1.6rem;
  margin: 1.2rem 1.8rem;
  padding: 1.2rem;
  border-radius: 5px;
  border: none;
  outline: 0;
}

.form button {
  margin-top: 3.6rem;
  cursor: pointer;
  background-color: #fff;
}

.form input:focus,
.form textarea:focus,
.form button:hover {
  box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.product-details,
.company,
.form button {
  grid-column: span 2;
}

.form button:active {
  scale: 0.98;
}

/* address */
.address-container {
  padding: 0 8.6rem;
  margin-top: 11.2rem;
  display: flex;
  justify-content: space-between;
}

.adress p {
  font-size: 1.6rem;
  margin: 0;
  padding-left: 4.8rem;
}

.detail-address {
  display: flex;
  align-items: center;
}

.detail-address h2 {
  font-size: 2.4rem;
  margin: 1.2rem 1rem;
}

.detail-address img {
  display: inline-block;
  height: 3.6rem;
  width: 3.6rem;
}

/* footer */

footer {
  padding: 0 8.6rem;
  margin-top: 8.6rem;
  margin-bottom: 8.6rem;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
  list-style-type: none;
  margin: 2.4rem;
}

footer ul li a img {
  height: 4.8rem;
  width: 4.8rem;
  fill: #fff;
}

footer ul li a img:nth-of-type(1) {
  height: 5.4rem;
  width: auto;
  margin-left: -2.4rem;
}

footer p {
  text-align: center;
  font-size: 1.8rem;
}

footer p a {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
}
