@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --primery-color: #0676da;
  --secondary-color: #3aa8de;
  --background-color: #65a4e6;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  /* background-color: var(--background-color); */
  background-color: #65a4e6;
}

nav {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem 8.6rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.logo {
  padding: 1rem 0;
}

.logo a img {
  height: 5.4rem;
  margin-left: -2.4rem;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 1.8rem;
}

nav ul li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
}

/* Hero section */

.hero-section {
  display: flex;
  align-items: center;
  margin: 3.6rem 8.6rem;
  height: 64rem;
}

.hero-content-container {
  width: 50%;
  height: 100%;
}

.hero-section p {
  font-size: 4.8rem;
}

.hero-img-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-content,
.hero-section-img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-section-img img {
  height: 56rem;
  max-width: 100%;
}

.hero-section-img .cloud {
  position: absolute;
  left: 25%;
  top: 9.5%;
  height: 59%;
  width: 50.5%;
}

/* Service section */
.service-section {
  width: 100%;
  padding: 0 8.6rem 3.6rem;
  background-color: var(--background-color);
}

.service-section .service-section-heading {
  font-size: 4.8rem;
  text-align: center;
  color: #eff4fc;
}

.service-subsection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 6.4rem;
  grid-column-gap: 4.8rem;
}

.subsection-content h2 {
  font-size: 8.6rem;
  margin: 0 3.2rem 1.2rem;
  width: 11rem;
  border-radius: 1.6rem;
  border-bottom: 16px solid var(--primery-color);
}
.subsection-content h3 {
  font-size: 4.8rem;
  margin: 0 3.2rem 1.2rem;
  text-transform: uppercase;
}
.subsection-content p {
  font-size: 2.2rem;
  margin: 0 3.2rem 1.2rem;
}

.subsection-image {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.subsection-image img {
  height: 42rem;
  width: 56rem;
}
