@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --primery-color: #0676da;
  --secondary-color: #3aa8de;
  --background-color: #5e90e3;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  /* background-color: var(--background-color); */
  background-color: #65a4e6;
}

nav {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem 8.6rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.logo {
  padding: 1rem 0;
}

.logo a img {
  height: 5.4rem;
  margin-left: -2.4rem;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 1.8rem;
}

nav ul li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
}

/* Hero section */

.hero-section {
  display: flex;
  align-items: center;
  margin: 6rem 8.6rem;
  height: 64remrem;
}

.hero-content-container {
  width: 50%;
  height: 100%;
}

.hero-section p {
  font-size: 4.8rem;
}

.hero-img-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-content,
.hero-section-img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-section-img img {
  height: 56rem;
  max-width: 100%;
}

.hero-section-img .cloud {
  position: absolute;
  left: 25%;
  top: 9.5%;
  height: 59%;
  width: 50.5%;
}
